.vs/
/RobiSendPromotionSms/bin/Debug/net9.0
/RobiSendPromotionSms/obj/Debug/net9.0/refint
/RobiSendPromotionSms/obj/Debug/net9.0/ref
/RobiSendPromotionSms/obj/project.assets.json
/RobiSendPromotionSms/obj/project.nuget.cache
/RobiSendPromotionSms/obj/RobiSendPromotionSms.csproj.nuget.dgspec.json
/RobiSendPromotionSms/obj/Debug/net9.0/apphost.exe
/RobiSendPromotionSms/obj/Debug/net9.0/RobiSendPromotionSms.AssemblyInfo.cs
/RobiSendPromotionSms/obj/Debug/net9.0/RobiSendPromotionSms.AssemblyInfoInputs.cache
/RobiSendPromotionSms/obj/Debug/net9.0/RobiSendPromotionSms.assets.cache
*.BuildWithSkipAnalyzers
/RobiSendPromotionSms/obj/Debug/net9.0/RobiSendPromotionSms.csproj.CoreCompileInputs.cache
/RobiSendPromotionSms/obj/Debug/net9.0/RobiSendPromotionSms.csproj.FileListAbsolute.txt
/RobiSendPromotionSms/obj/Debug/net9.0/RobiSendPromotionSms.dll
/RobiSendPromotionSms/obj/Debug/net9.0/RobiSendPromotionSms.GeneratedMSBuildEditorConfig.editorconfig
/RobiSendPromotionSms/obj/Debug/net9.0/RobiSendPromotionSms.genruntimeconfig.cache
/RobiSendPromotionSms/obj/Debug/net9.0/RobiSendPromotionSms.pdb
/RobiSendPromotionSms/obj/Debug/net9.0/RobiSendPromotionSms.sourcelink.json

# Local secrets - never commit
appsettings.json
RobiSendPromotionSms/appsettings.json
